<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add user</title>
</head>
<body>
<form action="/register" method="post">
    <p>昵称(登录名)<input name="nickName" type="text" /></p>
    <p>真实姓名    <input name="realName" type="text" /></p>
    <p>密码        <input name="passwd"   type="text" /></p>
    <p>性别        <input name="sex"      type="text" /></p>
    <p>微信号      <input name="wechat"   type="text" /></p>
    <p>第几届(入学)<input name="years"    type="text" /></p>
    <input type="submit">
</form>
</body>
</html>