<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>部门组织结构 - 计算机协会 - 浙江师范大学校级社团</title>

    <!-- css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/iconfont/iconfont.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom navbar-solid">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="/index.html">

                    <!-- logo image  -->
                    <img src="/assets/images/logo.png" alt="Logo">
                    计算机协会 2018
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a href="//">关于协会</a></li>
                <li class="active"><a href="//group.html">部门组织架构</a></li>
                <li><a href="//photo.html">协会图库</a></li>
                <li><a href="//history_activity.html">历届事件</a></li>
                <li><a href="//history_member.html">历任成员</a></li>
                <li><a href="//download.html">资源下载</a></li>

            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<section id="speakers" class="section speakers">
    <div class="container">
        <div class="nav breadcrumb"><a href="//">关于协会</a> / <a href="/">部门组织结构</a></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">现任理事会</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-1.jpg"></figure>
                    <h4>陈贾玲</h4><p>会长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-2.jpg"></figure>
                    <h4>hqt</h4><p>副会长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-3.jpg"></figure>
                    <h4>林林林</h4><p>副会长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-4.jpg"></figure>
                    <h4>天堂芝士</h4><p>维修部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-5.jpg"></figure>
                    <h4>hqt</h4><p>开发部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-6.jpg"></figure>
                    <h4>哆啦元</h4><p>技术部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-7.jpg"></figure>
                    <h4>❤24K💛纯💙帅💚95💜 🎉</h4><p>产品部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-8.jpg"></figure>
                    <h4>谁是谁的谁</h4><p>办公室部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-9.jpg"></figure>
                    <h4>✧(≖ ◡ ≖✿)</h4><p>宣传部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-10.jpg"></figure>
                    <h4>mystery。</h4><p>外联部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="speaker">
                    <figure><img alt="" class="img-responsive center-block" src="/upload/avatar/avatar-11.jpg"></figure>
                    <h4>十戒颜童</h4><p>策划部部长</p>
                    <ul class="social-block">
                        <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                        <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div>
</section>

<section id="faq" class="section faq">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">部门组织架构</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse1" aria-expanded="true" aria-controls="collapse1"> 办公室 </a>
                            </h4>
                        </div>

                        <div id="collapse1" class="panel-collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>沈佳rong？？？？？？？？</p>
                                <h3>干事成员</h3>
                                <p>竹桃听花期 暗涌 倩 未央</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse2" aria-expanded="true" aria-controls="collapse2"> 维修部 </a>
                            </h4>
                        </div>

                        <div id="collapse2" class="panel-collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>哆啦元</p>
                                <h3>干事成员</h3>
                                <p>Mr.Mrvica~ 可牛掰了 _Shine丶 南栀倾寒 我到哪里去，躲避你的灵 I'm Tiny</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse3" aria-expanded="true" aria-controls="collapse3"> 技术部 </a>
                            </h4>
                        </div>

                        <div id="collapse3" class="panel-collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>❤24K💛纯💙帅💚95💜 🎉</p>
                                <h3>副部长</h3>
                                <p>忘记灬</p>
                                <h3>干事成员</h3>
                                <p>Sun Shine、灿烂 薄的荷 你对她笑的那么暖* 越跳越高</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse4" aria-expanded="true" aria-controls="collapse4"> 开发部 </a>
                            </h4>
                        </div>

                        <div id="collapse4" class="panel-collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>谁是谁的谁</p>
                                <h3>干事成员</h3>
                                <p>♍勿厔🔝🚩 旖旎 丨文乱</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse5" aria-expanded="true" aria-controls="collapse5"> 产品部 </a>
                            </h4>
                        </div>

                        <div id="collapse5" class="panel-collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>✧(≖ ◡ ≖✿)</p>
                                <h3>干事成员</h3>
                                <p>LING0000 秒.一 Wing_liii</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading6">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse6" aria-expanded="true" aria-controls="collapse6"> 宣传部 </a>
                            </h4>
                        </div>

                        <div id="collapse6" class="panel-collapse" role="tabpanel" aria-labelledby="heading6">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>mystery。</p>
                                <h3>干事成员</h3>
                                <p>静然 王珺 才豆豆$$$</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading7">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse7" aria-expanded="true" aria-controls="collapse7"> 策划部 </a>
                            </h4>
                        </div>

                        <div id="collapse7" class="panel-collapse" role="tabpanel" aria-labelledby="heading7">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>十戒颜童</p>
                                <h3>干事成员</h3>
                                <p>林玲的v店</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapse7" aria-expanded="true" aria-controls="collapse7"> 外联部部 </a>
                            </h4>
                        </div>

                        <div id="collapse8" class="panel-collapse" role="tabpanel" aria-labelledby="heading7">
                            <div class="panel-body">
                                <h3>部长</h3>
                                <p>十戒颜童</p>
                                <h3>干事成员</h3>
                                <p>林玲的v店</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">&copy 2018 计算机协会 v1.0.0 | 技术支持：<a href="#" title="计算机协会">计算机协会</a> & <a href="#" title="hqt" target="_blank">hqt</a></p>
                <ul class="social-block">
                    <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                    <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                    <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>