<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>动态资讯 - 计算机协会 - 浙江师范大学校级社团</title>

    <!-- css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/iconfont/iconfont.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom navbar-solid">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="/index.html">

                    <!-- logo image  -->
                    <img src="/assets/images/logo.png" alt="Logo">
                    计算机协会 2016
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a href="//">关于协会</a></li>
                <li><a href="//group.html">部门组织架构</a></li>
                <li><a href="//photo.html">协会图库</a></li>
                <li><a href="//history_activity.html">历届事件</a></li>
                <li><a href="//history_member.html">历任成员</a></li>
                <li><a href="//download.html">资源下载</a></li>

            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<section id="about" class="section about">
    <div class="container">
        <div class="nav breadcrumb"><a href="//">关于协会</a> / <a href="/">动态资讯</a></div>
        <div class="row">

            <div class="col-sm-12">

                <h3 class="section-title multiple-title">动态资讯</h3>

                <p>这里是我们协会最新的动态资讯和活动公告.</p>

                <ul class="list-arrow-right">

                    <li><a href="/upload/news/2016-10-25_10-42.html" target="_blank">2016年届计算机协会第一次干事动员大会 | 2016-10-25</a></li>
                    <li><a href="/#" target="_blank">关于今年协会入会会费缴费时间地点及要带的其它物品通知 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">协会干事面试名单公布通知 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">协会干事面试时间地点通知 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">关于协会2016年届招新事宜安排公告 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">关于协会2016年届招新事宜安排公告 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">关于协会2016年届招新事宜安排公告 | 2016-10-24</a></li>
                    <li><a href="/#" target="_blank">关于协会2016年届招新事宜安排公告 | 2016-10-24</a></li>
                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">&copy 2016 计算机协会 v1.0.0 | 技术支持：<a href="/http://www.gioov.com/" title="计算机协会">计算机协会</a> & <a href="/http://www.gioov.com/" title="天堂芝士" target="_blank">天堂芝士</a></p>
                <ul class="social-block">
                    <li><a href="/"><i class="iconfont icon-wechat"></i></a></li>
                    <li><a href="/"><i class="iconfont icon-3"></i></a></li>
                    <li><a href="/"><i class="iconfont icon-weibo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>